:root, [data-bs-theme=light] {
  --bs-success: #4d3a39;
  --bs-success-rgb: 77,58,57;
  --bs-success-text-emphasis: #1F1717;
  --bs-success-bg-subtle: #DBD8D7;
  --bs-success-border-subtle: #B8B0B0;
  --bs-link-color: #bbbbbb;
  --bs-link-color-rgb: 187,187,187;
  --bs-link-hover-color: #bfd3cf;
  --bs-link-hover-color-rgb: 191,211,207;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
}

.btn-success {
  --bs-btn-color: #fff;
  --bs-btn-bg: #4d3a39;
  --bs-btn-border-color: #4d3a39;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #413130;
  --bs-btn-hover-border-color: #3E2E2E;
  --bs-btn-focus-shadow-rgb: 228,225,225;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #3E2E2E;
  --bs-btn-active-border-color: #3A2C2B;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #4d3a39;
  --bs-btn-disabled-border-color: #4d3a39;
}

.btn-outline-success {
  --bs-btn-color: #4d3a39;
  --bs-btn-border-color: #4d3a39;
  --bs-btn-focus-shadow-rgb: 77,58,57;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #4d3a39;
  --bs-btn-hover-border-color: #4d3a39;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #4d3a39;
  --bs-btn-active-border-color: #4d3a39;
  --bs-btn-disabled-color: #4d3a39;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #4d3a39;
}

